CalculatorTest/CalculatorTest.xcodeproj/project.xcworkspace/xcuserdata/israman.xcuserdatad/UserInterfaceState.xcuserstate

PhotoAlbumWithUnitTest/PhotoAlbumWithUnitTest.xcodeproj/project.xcworkspace/xcuserdata/israman.xcuserdatad/UserInterfaceState.xcuserstate

PhotoAlbumWithUnitTest/PhotoAlbumWithUnitTest.xcodeproj/project.xcworkspace/xcuserdata/israman.xcuserdatad/UserInterfaceState.xcuserstate.DS_Store
.DS_Store
